* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {

border: 1px solid pink;
border-radius: 10px;
background: linear-gradient(180deg, rgba(237,157,18,1) 0%, rgba(255,255,255,1) 0%, rgba(178,47,102,1) 69%, rgba(125,0,112,1) 100%);}

::-webkit-scrollbar-track {background: rosybrown;}

body {
    background: #15171d;
}

header {
    width: 100%;
    background: black;
    min-height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid white;
}

header>a>figure {
    width: 100px;
}

img {
    max-width: 100%;
}


@media screen and (min-width: 1024px) {
    nav#menu {
        min-width: 50%;
        min-height: 40px;
    }

    nav#menu ul {
        width: 100%;
    }

    nav#menu ul li {
        width: 18%;
        height: auto;
        line-height: 60px;
        display: block;
        float: left;
    }

    nav#menu ul li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;

    }
    nav#menu ul>a{
        visibility: hidden;
    }

}

/* version tablette et pc portable */
@media screen and (min-width: 680px) and (max-width:1023px) {
    nav#menu{width: 50%;}
    nav#menu ul {
        width:100% ;
    }
    nav#menu ul li {
        display:block;
        text-align: center;
    min-width: 80px;
        min-height: 50px;
    float: left;
    
    }
    nav#menu ul li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    
    }

    nav#menu ul>a{
        visibility: hidden;
        height: 0;
        width: 0;
    }
}

/* version smartphone */
@media screen and (max-width: 768px) {
    header>a>hr {
        width: 10px;
        height: 10px;
        background: white;
        margin-top: 6px;
        border-radius: 50%;
    }
    
    
    
    nav#menu {
        padding: 50px;
        border: 1px solid black;
        position: fixed;
        height: 100vh;
        top: 0;
        width: 20%;
        min-width: 320px;
        background: #303649;
        box-shadow: -3px 0 10px rgba(0, 0, 0, );
    }
    
    nav#menu:not(:target) {
        right: -100%;
        transition: right 1.5s;
    }
    
    nav#menu:target {
        right: 0;
        transition: right 1.5s;
    }
    
    ul {
        list-style: none;
    }
    
    ul>li a#close {
        color: white;
        text-decoration: none;
        display: block;
        height: 50px;
    }
    
    ul>li a#close::first-letter {
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px;
    }
    
    nav#menu>ul>li>a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    nav#menu>ul>li {
        display: block;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 50px;
    } 

}



header+section {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(237, 157, 18, 1) 0%, rgba(210, 142, 4, 1) 0%, rgba(166, 10, 55, 1) 30%, rgba(13, 23, 113, 1) 100%);
    background-size: 400% 400%;
    animation: degrade 15s ease-in-out infinite;
}

@keyframes degrade {

    0%,
    100% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%;
    }
}

main,
section {
    padding-top: 120px;
    width: 100%;
}

section {
    display: flex;
    background-color: #15171d;
    justify-content: center;
}

section>article {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

section>article>header {
    width: 100%;
    margin: 50px 0;
    color: seashell;
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 0 50px;
    position: inherit;
}

header>p,
h1 {
    width: 50%;
    min-width: 320px;
    font-size: 20px
}

hgroup+p {
    color: white;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
    letter-spacing: 7px;
    font-weight: 300;
    color: white;
    align-self: flex-start;
}

h1::first-letter,
h2::first-letter {
    font-size: 25px;
    font-weight: 700;
}

section>article>footer {
    width: 90%;
    align-self: start;
    font-family: 'Open Sans', sans-serif;
}

section#un,
section#deux {
    width: 100%;
    align-self: start;
    display: flex;
    flex-wrap: wrap;
}

section#un>div {
    width: 33.33%;
    min-width: 320px;
    min-height: 200px;
    border: 20px solid #15171d;
    flex: 1;
}

section#deux>div {
    width: 16%;
    min-width: 320px;
    min-height: 200px;
    border: 15px solid #15171d;
    color: white;
    flex: 1;
}

section#un>div>span,
section#deux>div>span {
    color: white;
    background: black;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 10px;
    margin-top: 10px;
}

section#un>div>p,
section#deux>div>p {
    text-align: end;
    margin-right: 10px;
}

div:first-of-type {
    background: rgb(255, 0, 0);
    color: white;
}

div:nth-of-type(2) {
    background: rgb(0, 0, 0);
    color: white;
}

div:nth-of-type(3) {
    background: rgb(255, 255, 255);
    color: black;
}

section#deux>div:nth-child(1) {
    background: rgb(246, 102, 106);
}

section#deux>div:nth-child(2) {
    background: rgb(250, 210, 105);
}

section#deux>div:nth-child(3) {
    background: rgb(56, 226, 148);
}

section#deux>div:nth-child(4) {
    background: rgb(36, 168, 152);
}

section#deux>div:nth-child(5) {
    background: rgb(115, 132, 253);
}

section#deux>div:nth-child(6) {
    background: rgb(247, 120, 242);
}